*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#leaderBoard{
    display: flexbox;
    justify-items: space-around;
    align-items: center;
}