*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

:root {
  --aquamarine: #ADF1D2;
  --light: #B5B9FC;
  --eggplant: #AFCBFF;
  --violet: #553555;
}

body {
  background-color: var(--aquamarine);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.answerButtons {
  position: absolute;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  width: 250px;
  height: 50px;
  font-size: 16px;
  border: 2px solid var(--violet);
}

#next {
  background-color: var(--light);
  font: var(--violet)
}

#gameBoard {
  display: none;
  width: 800px;
  max-width: 80%;
  text-align: center;
  background-color: var(--eggplant);
  font-size: 20px;
  font: bold;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.resultBox {
    display: none;
}

.leaderBoard {
  display: none;
}

.submit{
  background-color: #B5B9FC;
}
